<!doctype html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="welcome.css">

</head>
<body>


	<div class="right">
   <h2 class= "city"> Hello sir</h2>
   <form action="./login/">
	 <input class="login" type="submit" value="Log in">
	 </form>
	 <form action="./register/">
	 <input class="login" type="submit" value="Register">
	</form>
	<div class="greybox">Hope all is daijoubou</div>

 </div>


</body>
</html>
