<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="welcome.css">


</head>

<body>

	<div class= "right">

		<a href="/logout">Log Out</a>
		<button class="button">Get Cash when I add JS<%getmoney%></button>

	<div class="currentUser">
		<p><%= @user.username %></p>
		<p><%= @user.cash%></p>
	</div>


 </div>

</body>
</html>
